<html>

<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

<style>
	body {
		margin: 50px;
		background-image: url('http://img15.hostingpics.net/pics/414982ingsoc.png');
	}
	
	h1 {
		color: #9c1414
	}

	#submit {
		background-color: #9c1414
	}
</style>

<body>
 <div id="content" class="span6">
	<h1>Big brother is watching on you</h1>
  <form>
	  <div>
			<textarea type="text" id="text" placeholder="Enter you message here" rows="10" cols="100"></textarea>
		<div>
		<div>
		  <input type="password" id="password" placeholder="Type password">
		  <button id="submit" type="button" class="btn btn-primary">Create message</button>
		<div>
	</form>
</body>

</html>